body {
    font-family: Arial;
}

h3 {
    margin: 0px;
}

button {
    width: 200px;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

select {
    width: 90px;
}

input[type="number"] {
    width: 50px;
    font-size: 14px;
}

input[type="range"] {
    width: 100px;
}

.dropdown-arrow {
    width: 10px;
    display: inline-block;
}

.menu-content {
    margin: 5px;
    padding: 5px 10px 6px 10px;
    border-style: solid;
    border-width: 2px;
}

.section {
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.field {
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider-input {
    display: inline-block;
}

#glyph-mapping-chooser {
    width: 200px;
}

#glyphs-section {
    display: grid;
}
