
html {
    height: 100%
}

body {
    display: flex;
    height: 100%;
    margin: 0px;
    font-family: Arial;
    background-color: #ECECEC;
}

h4 {
    margin: 0px;
}

hr {
    border-top: 1px solid;
    color: black
}

input[type="checkbox"] {
    margin: 0px 0px 0px 10px;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
}

.filters-header {
    margin-bottom: 6px;
}

.filter-field {
    height: 20px;
    display: flex;
    justify-items: center;
    font-size: 14px;
    margin: 2px;
}

.dropdown-arrow {
    width: 10px;
    display: inline-block;
}

.model-card {
    min-width: 260px;
    height: 210px;
    display: inline-block;
    padding: 6px;
    margin: 6px;
    background-color: #C7C7C7;
    border-style: outset;
    border-color: #D9D9D9;
    cursor: pointer;
}

.model-card * {
    cursor: pointer;
}

.model-image {
    width: auto;
    max-height: 100%;
}

.model-image-holder {
    height: 180px;
    display: block;
    background-color: #929292;
}

.model-name-label {
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.model-details {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

#sidebar {
    width: 160px;
    margin: 10px;
}

#search-bar {
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
}

#sort-by-field {
    margin-top: 2px;
    margin-left: 3px;
    font-size: 15px;
}

#divider {
    width: 2px;
    height: 100%;
    background-color: black;
    cursor: ew-resize;
}

#warehouse {
    flex: 1 1 auto;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 6px;
    white-space: nowrap;
}
